<div style="height: 100px"></div>
<ng-container *ngIf="loadingLevel > 0; then loadingBlock else loginBlock"></ng-container>
<div style="height: 100px"></div>

<ng-template #loadingBlock>
    <div style="margin: 0px 10% 0px 10%">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p style="width: 100%; text-align: center;">Loading...</p>
    </div>
</ng-template>

<ng-template #loginBlock>
    <div style="width: 500px;margin: auto" class="mat-elevation-z2">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>RPi Drive Login</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <form [formGroup]="loginForm" style="padding: 30px" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <section>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || loadingLevel>0">Login</button>
                <span style="color: red; margin-left: 10px">{{loginError}}</span>
            </section>
        </form>
    </div>
</ng-template>

