.background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    position: absolute;
    color: white;

    background-image: url(../../assets/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.user {
    width: 100%;
    text-align: right;
}

.title {
    width: 100%;
    font-size: xxx-large;
    text-align: center;
    color: #c2185b;
    opacity: 0.0;
    animation: title-fade-in 0.4s;
    animation-fill-mode: forwards;
}

@keyframes title-fade-in {
    from { opacity: 0.0;}
    to {opacity: 1.0;}
}

.apps {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: apps-fade-in 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

@keyframes apps-fade-in {
    from { margin-top: 100px;}
    to {margin-top: 50px;}
}

.app-button {
    height: 128px;
    width: 128px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    border: 1px solid #c2185b;
    padding: 10px;
    margin: 10px;
    animation: app-button-fade-in 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0.0;
}

@keyframes app-button-fade-in {
    from { opacity: 0.0; height: 64px; width: 64px;}
    to {opacity: 1.0;}
}

.app-button:hover {
    background-color: #c2185b;
    border: 1px solid grey;
}

.app-icon-container {
    width: 86px;
    height: 64px;
    margin-bottom: 30px;
}

.app-icon {
    font-size: 64px;
}

.app-name {
    font-size: x-small;
    word-wrap: break-word;
    font-size: 16px
}

.mat-icon {
    vertical-align: middle;
 }

.footer {
    bottom: 0px;
    position: absolute;
    z-index: 7;
    width: 100%;
    color: white;
}