{% extends 'drive/base.html' %}

{% block page_title %}{{ drive.name }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="static/global.css" />
    <link type="text/css" rel="stylesheet" href="static/login.css" />
{% endblock %}

{% block content %}
    <div class="card grey lighten-3 center">
        <img class="logo" src="/drive/static/images/logo.png"/>
        <span class="top-bar-title">{{ drive.name }} - Login</span>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <span><button type="submit" class="btn waves-effect waves-light red lighten-1">Login</button><span class="red-text"><b>        {{ error_message }}</b></span></span>
        </form>
    </div>
{% endblock %}
<body>