<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div style="height: 100%">
    <mat-toolbar color="primary">
        <mat-toolbar-row >
        <h1 [routerLink]="['/drive/folder/root']" style="cursor: pointer">{{title}}</h1>
        <span class="menu-spacer"></span>
        <span class="example-fill-remaining-space"></span>
        <div>
            <mat-form-field class="example-full-width">
                <mat-icon matSuffix>search</mat-icon>
                <input type="search" matInput>
            </mat-form-field>
            <a mat-button href="https://github.com/kingkingyyk/RPiDrive" target="_blank">GitHub</a>
            <a mat-button [routerLink]="['/drive/system']">System</a>
            <a mat-button [routerLink]="['/logout']">Logout</a>
        </div>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-app-background" style="margin-top: 0px">
        <router-outlet></router-outlet>
    </div>
</div>

