.mat-icon {
    vertical-align: middle;
 }

.file-row {
    cursor: pointer;
 }

 .path-nav {
     font-size: large;
 }

 .file-list {
     margin-top: 20px;
     margin-bottom: 100px;
 }

 th.mat-sort-header-sorted {
    color: black;
  }

  .empty-list {
    margin-top: 10px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
    opacity: 0.5;
    border: 1px solid white;
  }