# Back end files

backend/db.sqlite3
**/migrations/**
.idea/**
**/__pycache__/**


# Front end files

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# dependencies
frontend/node_modules

# profiling files
frontend/chrome-profiler-events*.json
frontend/speed-measure-plugin*.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings

# System Files
frontend/.DS_Store
frontend/Thumbs.db
frontend/dist/**