backend/test-reports/**
backend/.pytest_cache/**
backend/**/__pycache__/**
backend/drive/migrations/**
backend/.coverage
backend/db.sqlite3
backend/config.yaml
backend/docker-data/**
backend/static/**

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# dependencies
frontend/node_modules

# profiling files
frontend/chrome-profiler-events*.json
frontend/speed-measure-plugin*.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings

# System Files
frontend/.DS_Store
frontend/Thumbs.db
frontend/dist/**
