<periodic-check-login></periodic-check-login>

<div class="background">

    <ng-container *ngIf="loadingLevel == 0">
        <div class="user"><button mat-button color="accent" (click)="logout()">Logout</button></div>
        <div style="margin: 10%;"></div>
        <div class="title">RPi Drive</div>
    
        <div class="apps">
            <div class="app-button" *ngFor="let app of apps" matRipple (click)="openApp(app)">
                <div class="app-icon-container">
                    <mat-icon class="app-icon">{{app.icon}}</mat-icon>
                </div>
                <div class="app-name">{{app.name}}</div>
            </div>
        </div>
    </ng-container>

    <div style="width: 100%; text-align: center; margin-top: 20%" *ngIf="loadingLevel > 0">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>RPi Drive is loading...</p>
    </div>
</div>
<div class="footer">
    <p>
        Source available on <a href="https://github.com/kingkingyyk/RPiDrive" target="_blank">GitHub</a> |
        Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a>, <a href="https://angular.io/"
        target="_blank">Angular</a>, <a href="https://material.angular.io/"
        target="_blank">Material Angular</a>
    </p>

</div>
    
