[MASTER]
load-plugins=pylint_django
ignore=migrations
django-settings-module=backend.settings
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]
disable=missing-module-docstring,
        imported-auth-user,
        too-few-public-methods,
        duplicate-code,
        unspecified-encoding,
        broad-exception-raised,
