web:
  debug: true
  secret_key: <str:value>
  time-zone: <str:unix-tz>
indexer:
  period: 30
database:
  host: <str:name>
  port: <int:value>
  name: <str:name>
  user: <str:username>
  password: <str:password>
redis:
  host: <str:name>
  port: <int:value>
  db: <int:value>
security:
  block-spam: false
  block-trigger: 5
  block-duration: 600
  domain:
    - https://example.com
reverse-proxy:
  ip-header: 'HTTP_X_FORWARDED_FOR'
