web:
  debug: true
  secret_key: <str:value>
  time-zone: <str:unix-tz>
  temp-dir: <str:path>
indexer:
  period: 30
database:
  engine: 'django.db.backends.sqlite3'
  host: <str:name>
  port: <int:value>
  name: <str:name>
  user: <str:username>
  password: <str:password>
redis:
  host: <str:name>
  port: <int:value>
  db: <int:value>
security:
  spam-protect:
    max-retries: <int:value>
    block-duration: <int:value>
reverse-proxy:
  ip-header: 'HTTP_X_FORWARDED_FOR'
hostname:
  - example.com