django==4.1.3
humanize==4.4.0
tinytag==1.8.1
exif==1.3.5
pypdf2==2.11.1
epub_meta==0.0.7
mobi-python==0.0.1
pytz==2022.6
redis==4.3.4
PyYAML==6.0
psycopg2-binary==2.9.5
psycogreen==1.0.2
whitenoise==6.2.0
gunicorn[gevent]==20.1.0
psutil==5.9.4
gevent==22.10.2
