<h1 mat-dialog-title>
    <ng-container *ngIf="!data.id">
        Create user
    </ng-container>
    <ng-container *ngIf="data.id">
        Edit user
    </ng-container>

</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field style="width: 100%">
            <mat-label>Username</mat-label>
            <input name="username" matInput placeholder="Enter username" [(ngModel)]="data.username" required>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Password</mat-label>
            <input name="password" matInput placeholder="Enter password" [(ngModel)]="data.password" type="password" required>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Confirm Password</mat-label>
            <input name="cpassword" matInput placeholder="Enter password" [(ngModel)]="confirmPassword" type="password" required>
        </mat-form-field>

        <mat-checkbox name="superuser" [(ngModel)]="data.superuser">Superuser</mat-checkbox>

        <p *ngIf="data.password != confirmPassword" style="color: red">
            Password and confirm password are different.
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="data.username.length == 0 || data.password != confirmPassword || data.password.length == 0">
        <ng-container *ngIf="!data.id">
            Create
        </ng-container>
        <ng-container *ngIf="data.id">
            Update
        </ng-container>
    </button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>