<h2 mat-dialog-title style="color: red">
    <mat-icon style="vertical-align: middle; margin-right: 5px">delete_forever</mat-icon>
    Delete storage provider
</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="!loading">
        <p>Confirm to delete the storage provider {{storageProvider.name}}?</p>
        <p>The folders & files in the file system will remain but the index will be lost.</p>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span style="color: red">{{errorText}}</span>
    <button mat-button color="warn" (click)="deleteStorageProvider()" [disabled]="loading" cdkFocusInitial>Delete</button>
    <button mat-button [disabled]="loading" mat-dialog-close>Cancel</button>
</mat-dialog-actions>