<h2 mat-dialog-title>
    <mat-icon style="vertical-align: middle; margin-right: 5px">storage</mat-icon>
    <ng-container *ngIf="!storageProvider">
        Create storage provider
    </ng-container>
    <ng-container *ngIf="storageProvider">
        Edit storage provider {{storageProvider.name}}
    </ng-container>
</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="!loading">
        <form [formGroup]="formGroup">
            <mat-form-field style="width: 100%">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let t of storageProviderTypes" [value]="t.value">{{t.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <mat-label>Path</mat-label>
                <input matInput type="text" formControlName="path">
            </mat-form-field>

            <mat-divider></mat-divider>
        </form>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span style="color: red">{{errorText}}</span>
    <button mat-button (click)="createOrUpdateStorageProvider()" [disabled]="loading || !formGroup.valid" cdkFocusInitial>
        <ng-container *ngIf="!storageProvider">
            Create
        </ng-container>
        <ng-container *ngIf="storageProvider">
            Save
        </ng-container>
    </button>
    <button mat-button [disabled]="loading" mat-dialog-close>Cancel</button>
</mat-dialog-actions>