<div style="margin-bottom: 64px;" class="fade-in" *ngIf="!isMobile">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon style="vertical-align: bottom;">storage</mat-icon>
                {{ row.name }}
            </td>
        </ng-container>

        <!-- Path Column -->
        <ng-container matColumnDef="path">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Path </th>
            <td mat-cell *matCellDef="let row"> {{ row.path }} </td>
        </ng-container>

        <!-- Used Space Column -->
        <ng-container matColumnDef="usedSpace">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Used Space </th>
            <td mat-cell *matCellDef="let row"> {{ row.usedSpace | filesize }} </td>
        </ng-container>

        <!-- Total Space Column -->
        <ng-container matColumnDef="totalSpace">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Space </th>
            <td mat-cell *matCellDef="let row"> {{ row.totalSpace | filesize }} </td>
        </ng-container>

        <!-- Indexing Column -->
        <ng-container matColumnDef="indexing">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Indexing </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon>{{row.indexing ? 'track_changes' : 'pause'}}</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="loadStorageProviderFolder(row)" (contextmenu)="onContextMenu($event, row)"></tr>
    </table>
</div>

<div *ngIf="isMobile">
    <mat-card *ngFor="let row of dataSource.data" (click)="loadStorageProviderFolder(row)" (contextmenu)="onContextMenu($event, row)" class="table-row">
        <mat-card-header>
            <mat-card-title>
                <mat-icon style="vertical-align: bottom;">storage</mat-icon>
                {{ row.name }}
            </mat-card-title>
            <mat-card-subtitle>{{ row.path }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ row.usedSpace | filesize }} used of {{ row.totalSpace | filesize }}</p>
            <p *ngIf="row.indexing">Indexing in progress...</p>
        </mat-card-content>
    </mat-card>
</div>


<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="spContextMenu"
  #spMenuTrigger>
</div>
<mat-menu #spContextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
        <button mat-menu-item [disabled]="true">{{item.name}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="item.indexing" (click)="performIndex(item)"><mat-icon>query_stats</mat-icon>Perform Index</button>
		<button mat-menu-item [disabled]="item.indexing" (click)="editStorageProvider(item)"><mat-icon>edit</mat-icon>Manage</button>
        <button mat-menu-item [disabled]="item.indexing" (click)="editStorageProviderPermissions(item)"><mat-icon>supervisor_account</mat-icon>Permissions</button>
		<button mat-menu-item [disabled]="item.indexing" (click)="deleteStorageProvider(item)"><mat-icon color="warn">delete</mat-icon>Delete</button>
	</ng-template>
</mat-menu>

<div style="height: 64px"></div>