<app-nav-bar  [title]="'System'" [searchbox]="false"></app-nav-bar>
<div class="mat-app-background" style="margin-top: 0px">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <mat-nav-list>
                <a mat-list-item (click)="this.selection='ua'">User Accounts</a>
                <a mat-list-item (click)="this.selection='network'">Network Usage</a>
                <a mat-list-item (click)="this.selection='system'">System</a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="padding: 20px; height: 100vh;">
                <app-user-accounts *ngIf="selection === 'ua'"></app-user-accounts>
                <app-network-usage *ngIf="selection === 'network'"></app-network-usage>
                <app-system-facts *ngIf="selection === 'system'"></app-system-facts>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<snippet-requires-login></snippet-requires-login>