<div style="width: 80vw">
    <h1 mat-dialog-title><mat-icon>music_note</mat-icon>
        Add media to playlist
    </h1>
    <mat-tab-group>
        <mat-tab label="Search">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Search media" [(ngModel)]="searchKeyword"
                (input)="searchMedia()" />
            </mat-form-field>
            <mat-list dense style="overflow-y: auto; height: 40vh; border: 1px white solid">
                <mat-list-item *ngIf="searchLoading">
                    <mat-spinner></mat-spinner>
                </mat-list-item>
                <mat-list-item *ngFor="let media of searchResult" style="cursor: pointer;" matRipple *ngIf="!searchLoading">
                    <button mat-icon-button><mat-icon matListIcon (click)="addMedia(media)">add</mat-icon></button>
                    <div (click)="playMedia(media)" style="margin-left: 5px">
                        <div mat-line style="font-size: small;">{{media.title}}</div>
                        <div mat-line style="font-size: small;"><i>{{media.artist}} - {{media.album}}</i></div>
                        <div mat-line style="font-size: small;"><i>{{media.relative_path}} </i></div>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Explore">
            zzzz
        </mat-tab>
    </mat-tab-group>
    <div mat-dialog-actions>
        <audio controls autoplay #audioPlayer style="display:none">
            <source>
        </audio>
        <ng-container *ngIf="nowPlayingTitle" style="font-size:small;">
            <mat-icon>play_arrow</mat-icon>
            {{nowPlayingTitle}}
        </ng-container>
        <span style="flex: 1 1 auto;">

        </span>
        <button mat-button  [mat-dialog-close]="mediaToAdd">
            Close
        </button>
        <button mat-button  (click)="onNoClick">
            Cancel
        </button>
    </div>
</div>