<h1>Network Usage</h1>
<mat-divider style="margin-bottom: 24px;"></mat-divider>

<mat-progress-bar mode="indeterminate" *ngIf="!currData"></mat-progress-bar>

<mat-list *ngIf="currData">
    <div mat-subheader>Speed</div>
    <mat-list-item>
        <mat-icon matListItemIcon>download</mat-icon>
        <div matListItemTitle>Download</div>
        <div matListItemLine>{{ currData.downloadSpeed | filesize }}/s</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>upload</mat-icon>
        <div matListItemTitle>Upload</div>
        <div matListItemLine>{{ currData.uploadSpeed | filesize }}/s</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Total</div>
    <mat-list-item>
        <mat-icon matListItemIcon>download</mat-icon>
        <div matListItemTitle>Downloads</div>
        <div matListItemLine>{{ currData.downloadTotal | filesize }}</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>upload</mat-icon>
        <div matListItemTitle>Uploads</div>
        <div matListItemLine>{{ currData.uploadTotal | filesize }}</div>
    </mat-list-item>
</mat-list>