<periodic-check-login></periodic-check-login>

<mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z2">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

        <span>Settings</span>
        <span class="spacer"></span>
        <button mat-icon-button matTooltip="Back" [routerLink]="['../']">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="drawer-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches || !settingsType">
        <mat-selection-list #list [multiple]="false" [(ngModel)]="settingsType" (ngModelChange)="onTabSelected($event)">
            <mat-list-option *ngFor="let component of components" [value]="component.url" (click)="closeSideNavIfNeeded()">
                {{component.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 20px;">

        <ng-container *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>

        <ng-container *ngIf="!loading">

            <p *ngIf="errorText" style="color: red">
                {{ errorText }}
            </p>

            <ng-container *ngIf="!errorText">
                <ng-container [ngSwitch]="settingsType">
                    <app-settings-user *ngSwitchCase="'user'" [isMobile]="mobileQuery.matches"></app-settings-user>
                    <app-settings-network *ngSwitchCase="'network'"></app-settings-network>
                    <app-settings-system *ngSwitchCase="'system'"></app-settings-system>
                    <h2 *ngSwitchDefault>To get started, select a menu.</h2>
                </ng-container>
            </ng-container>
        </ng-container>

        <div style="height: 64px"></div>
    </mat-sidenav-content>
</mat-sidenav-container>