<h1>System</h1>
<mat-divider style="margin-bottom: 24px;"></mat-divider>

<mat-progress-bar mode="indeterminate" *ngIf="!currData"></mat-progress-bar>

<mat-list *ngIf="currData">
    <div mat-subheader>CPU</div>
    <mat-list-item>
        <mat-icon matListItemIcon>developer_board</mat-icon>
        <div matListItemTitle>Cores</div>
        <div matListItemLine>{{ currData.cpuCount }}</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>developer_board</mat-icon>
        <div matListItemTitle>Frequency</div>
        <div matListItemLine>{{ currData.cpuFrequency }} MHz</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>developer_board</mat-icon>
        <div matListItemTitle>Usage</div>
        <div matListItemLine>{{ currData.cpuUsage }} %</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Memory</div>
    <mat-list-item>
        <mat-icon matListItemIcon>memory</mat-icon>
        <div matListItemTitle>Total</div>
        <div matListItemLine>{{ currData.memTotal | filesize }}</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>memory</mat-icon>
        <div matListItemTitle>Used</div>
        <div matListItemLine>{{ currData.memUsed | filesize }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Disks</div>
    <mat-list-item *ngFor="let disk of currData.disks">
        <mat-icon matListItemIcon>storage</mat-icon>
        <div matListItemTitle>{{ disk.path }}</div>
        <div matListItemLine>{{ disk.used | filesize }} ({{ disk.percent}}%) used of {{ disk.total | filesize }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Software</div>
    <mat-list-item>
        <mat-icon matListItemIcon>apps</mat-icon>
        <div matListItemTitle>OS</div>
        <div matListItemLine>{{ currData.osName }}</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>apps</mat-icon>
        <div matListItemTitle>Architecture</div>
        <div matListItemLine>{{ currData.osArch }}</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>apps</mat-icon>
        <div matListItemTitle>Python</div>
        <div matListItemLine>{{ currData.pythonVersion }}</div>
    </mat-list-item>
</mat-list>