<h1>User Accounts</h1>
<mat-divider style="margin-bottom: 24px;"></mat-divider>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<p *ngIf="!loading && errorText">{{ errorText }}</p>

<ng-container *ngIf="!loading && !errorText">
    <div style="margin-bottom: 10px;">
        <button mat-raised-button color="primary" (click)="createUser()">Add New User</button>
    </div>

    <ng-container *ngIf="!isMobile">
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

            <!-- Is Active Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let row"><mat-icon>{{ row.isActive ? 'done' : 'close' }}</mat-icon></td>
            </ng-container>
    
            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row">
                    {{ row.username }}
                </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{ row.firstName }} {{ row.lastName }} </td>
            </ng-container>
    
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
            </ng-container>
    
            <!-- Is Superuser Column -->
            <ng-container matColumnDef="isSuperuser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Superuser </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon><mat-icon>{{ row.isSuperuser ? 'done' : 'close' }}</mat-icon></mat-icon>
                </td>
            </ng-container>
    
            <!-- Last Login Column -->
            <ng-container matColumnDef="lastLogin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
                <td mat-cell *matCellDef="let row" matTooltip="{{row.lastLogin | amDateFormat:'DD MMM YYYY hh:mm A'}}"> {{
                    row.lastLogin ? (row.lastLogin | amTimeAgo) : 'Never' }} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (contextmenu)="onContextMenu($event, row)"></tr>
        </table>
    </ng-container>

    <ng-container *ngIf="isMobile">
        <mat-list>
            <mat-list-item *ngFor="let row of dataSource.data" class="table-row" (contextmenu)="onContextMenu($event, row)">
              <mat-icon matListItemIcon>account_circle</mat-icon>
              <div matListItemTitle>{{ row.username }}</div>
              <div matListItemLine>{{ row.firstName }} {{ row.lastName }}</div>
            </mat-list-item>
        </mat-list>
    </ng-container>
</ng-container>



<div style="height: 64px;"></div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
        <button mat-menu-item [disabled]="true">{{item.username}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="editUser(item)"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-menu-item (click)="deleteUser(item)"><mat-icon style="color: red" >delete_forever</mat-icon>Delete</button>
	</ng-template>
</mat-menu>