<mat-spinner *ngIf="!loaded"></mat-spinner>
<ng-container *ngIf="loaded">
    <h1 mat-dialog-title><mat-icon>folder</mat-icon>  Create a new folder in {{folderName}}</h1>
    <form [formGroup]="form" class="form-control" class="example-container" (ngSubmit)="createNewFolder()">
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Enter name" formControlName="newFolderName" required/>
            </mat-form-field>
            <div *ngIf="form.controls['newFolderName'].invalid && (form.controls['newFolderName'].dirty || form.controls['newFolderName'].touched)" style="color: red">
                <div *ngIf="form.controls['newFolderName'].errors.zeroLength">Name is required!</div>
                <div *ngIf="form.controls['newFolderName'].errors.duplicatedName">Duplicated name is not allowed!</div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" cdkFocusInitial [disabled]="!form.valid">Create</button>
            <button type="button" mat-button (click)="onNoClick()">Close</button>
        </div>
    </form>
</ng-container>

