<h1 mat-dialog-title><mat-icon>queue_music</mat-icon>
    <ng-container *ngIf="data.new">
        Add a new playlist
    </ng-container>
    <ng-container *ngIf="!data.new">
        Edit playlist name
    </ng-container>
</h1>
<form [formGroup]="formGroup" class="form-control">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Enter name" formControlName="name" required/>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!formGroup.valid" [mat-dialog-close]="formGroup.value">
            <ng-container *ngIf="data.new">
                Create
            </ng-container>
            <ng-container *ngIf="!data.new">
                Save
            </ng-container>
        </button>
        <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</form>

