div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}