<h2 mat-dialog-title style="color: red">
    <mat-icon style="vertical-align: middle; margin-right: 5px">delete_forever</mat-icon>
    Delete files
</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="loadingLevel == 0">
        Confirm to delete the following items?
        <div style="overflow: auto;">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let file of files">{{file.name}}</mat-list-item>
            </mat-list>
        </div>
    </div>
    <mat-spinner *ngIf="loadingLevel > 0"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span style="color: red">{{errorText}}</span>
    <button mat-button color="warn" (click)="deleteFile()" [disabled]="loadingLevel > 0" cdkFocusInitial>Delete</button>
    <button mat-button [disabled]="loadingLevel > 0" mat-dialog-close>Cancel</button>
</mat-dialog-actions>