<h2 mat-dialog-title>
    <ng-container [ngSwitch]="getFilePreviewType()">
        <!-- Music -->
        <ng-container *ngSwitchCase="'music'">
            <table>
                <tr>
                    <td>
                        <img [src]="getAlbumArtUrl()" onerror="this.style.display='none'" class="album-art">
                    </td>
                    <td>
                        <ng-container *ngIf="!metadata">
                            <h2 mat-dialog-title>
                                <mat-icon>{{ getFileIcon() }}</mat-icon>
                                {{ file.name }}
                            </h2>
                        </ng-container>

                        <ng-container *ngIf="metadata">
                            <h2 mat-dialog-title>
                                <mat-icon>{{ getFileIcon() }}</mat-icon>
                                {{ metadata.title ? metadata.title : file.name}}
                            </h2>
                            <p class="metadata" *ngIf="metadata.artist">
                                {{metadata.artist}}
                            </p>
                
                            <p class="metadata" *ngIf="metadata.album">
                                {{metadata.album}}
                            </p>
                        </ng-container>
                    </td>
                </tr>
            </table>
        </ng-container>

        <!-- Movie -->
        <ng-container *ngSwitchCase="'movie'">
            <h2 mat-dialog-title>
                <mat-icon>{{ getFileIcon() }}</mat-icon>
                {{file.name}}
            </h2>
        </ng-container>

        <!-- Picture -->
        <ng-container *ngSwitchCase="'picture'">
            <h2 mat-dialog-title>
                <mat-icon>{{ getFileIcon() }}</mat-icon>
                {{file.name}}
            </h2>
        </ng-container>

        <!-- Code -->
        <ng-container *ngIf="codeContent">
            <h2 mat-dialog-title>
                <mat-icon>{{ getFileIcon() }}</mat-icon>
                {{file.name}}
            </h2>
        </ng-container>
    </ng-container>
</h2>

<mat-dialog-content class="mat-typography">
    <ng-container [ngSwitch]="getFilePreviewType()">
        <!-- Music -->
        <ng-container *ngSwitchCase="'music'">
            <audio controls autoplay loop style="width: 60vw">
                <source [src]="getFileUrl()">
            </audio>
        </ng-container>

        <!-- Movie -->
        <ng-container *ngSwitchCase="'movie'">
            <video controls autoplay loop style="width: 60vw">
                <source [src]="getFileUrl()">
            </video>
        </ng-container>

        <!-- Picture -->
        <ng-container *ngSwitchCase="'picture'">
            <img [src]="getFileUrl()" style="width: 60vw">
        </ng-container>

        <!-- Code -->
        <ng-container *ngIf="codeContent">
            <h2 mat-dialog-title>
                <mat-icon>{{ getFileIcon() }}</mat-icon>
                {{file.name}}
            </h2>
            <textarea highlight-js *ngSwitchCase="'code'" [code]="codeContent" style="width: 60vw;">
            </textarea>
        </ng-container>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="downloadFile()" cdkFocusInitial>Download</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>