.metadata {
    padding-right: 5px;
    font-size: medium;
    margin: 0px;
}

mat-icon {
    vertical-align: bottom;
}

.album-art {
    max-width: 100px;
    margin-left: 16px;
    margin-top: 16px;
}