mat-list-item {
    cursor: pointer;
}

mat-list-item:hover {
    background-color: darkgray;
}

mat-icon {
    vertical-align: bottom;
}

.white-border {
    border: 1px solid white;
    padding: 0px 0px 10px 10px;
}