.table-row {
    cursor: pointer;
    position: relative;
}

.table-row:hover {
    transition-duration: 0.3s;
    background-color: darkgray;
    transition-timing-function: ease-in-out;
}

.action-button-row {
    display: table-cell;
    padding-bottom: 10px;
}

.action-button-row button {
    margin: 5px
}

.fade-in {
    -webkit-animation: fade-in-kf ease-in-out 0.3s;
       -moz-animation: fade-in-kf ease-in-out 0.3s;
        -ms-animation: fade-in-kf ease-in-out 0.3s;
         -o-animation: fade-in-kf ease-in-out 0.3s;
            animation: fade-in-kf ease-in-out 0.3s;
}

@keyframes fade-in-kf {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}