<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>

<div *ngIf="!loading && !isMobile" class="fade-in">
    <ng-container *ngIf='!errorText'>
        <div style="margin-bottom: 10px;">
            <ng-container *ngIf="folder.trace.length < 4; then shortPath else longPath">
            </ng-container>
            
            <ng-template #shortPath>
                <ng-container *ngFor="let parent of folder.trace">
                    <button mat-button (click)="loadFileObject(parent)" style="font-size: large">{{parent.name}}</button>
                    <mat-icon style="vertical-align: middle;">keyboard_arrow_right</mat-icon>
                </ng-container>
            </ng-template>
    
            <ng-template #longPath>
                <!-- Root -->
                <button mat-button (click)="loadFileObject(folder.trace[0])" style="font-size: large">{{folder.trace[0].name}}</button>
                <mat-icon style="vertical-align: middle;">keyboard_arrow_right</mat-icon>
                
                <!-- Middle -->
                <button mat-icon-button [matMenuTriggerFor]="menuParentTrace">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menuParentTrace="matMenu">
                    <ng-container *ngFor="let parent of folder.trace; index as idx">
                        <ng-container *ngIf="idx > 0 && idx < folder.trace.length - 1">
                            <button mat-menu-item (click)="loadFileObject(parent)" style="font-size: large">
                                <mat-icon>folder</mat-icon>
                                <span>{{parent.name}}</span>
                            </button>
                        </ng-container>
                    </ng-container>
                </mat-menu>
                <mat-icon style="vertical-align: middle;">keyboard_arrow_right</mat-icon>
    
                <!-- Parent -->
                <button mat-button (click)="loadFileObject(folder.trace[folder.trace.length-1])" style="font-size: large">{{folder.trace[folder.trace.length-1].name}}</button>
                <mat-icon style="vertical-align: middle;">keyboard_arrow_right</mat-icon>
            </ng-template>
    
            <!-- Self -->
            <button mat-button (click)="loadFileObject(folder)" style="font-size: large">{{folder.name}}</button>
        </div>
    
        <div class="action-button-row" *ngIf="selection.selected.length > 0">
            <button mat-raised-button color="accent" *ngIf="selection.selected.length == 1" (click)="shareSelectedFile(null)"><mat-icon>share</mat-icon>Share</button>
            <button mat-raised-button color="accent" *ngIf="selection.selected.length == 1" (click)="renameSelectedFile(null)"><mat-icon>create</mat-icon>Rename</button>
            <button mat-raised-button color="accent" (click)="moveSelectedFiles(null)"><mat-icon>airport_shuttle</mat-icon>Move</button>
            <button mat-raised-button color="warn" (click)="deleteSelectedFiles(null)"><mat-icon>delete_forever</mat-icon>Delete</button>
            <span><b>{{selection.selected.length}}</b> items selected</span>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
    
            <!-- Selection Column -->
            <ng-container matColumnDef="selection">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                color="primary">
                    </mat-checkbox>
                </th>
                <td mat-cell style="width: 32px" *matCellDef="let row" (click)="$event.stopPropagation()">
                    <mat-checkbox (change)="$event ? onSelectionChange(selection, row) : null"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon style="vertical-align: bottom;">{{getFileIcon(row)}}</mat-icon>
                    {{ row.name }} 
                </td>
            </ng-container>
    
            <!-- Last Modified Column -->
            <ng-container matColumnDef="lastModified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
                <td mat-cell *matCellDef="let row" matTooltip="{{row.lastModified | amDateFormat:'DD MMM YYYY hh:mm A'}}"> {{ row.lastModified | amTimeAgo }} </td>
            </ng-container>
    
            <!-- Size Column -->
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="isFile(row); then showFileSize else hideFileSize"> </ng-container>
                    <ng-template #showFileSize> {{ row.size | filesize }} </ng-template>
                    <ng-template #hideFileSize> - </ng-template>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="loadFileObject(row)" (contextmenu)="onContextMenu($event, row)"></tr>
        </table>
        
        <div style="width: 100%; margin-top: 10px; text-align: center;">{{dataSource.data.length}} items</div>
    </ng-container>
</div>

<div *ngIf="!loading && isMobile" class="fade-in">
    <div>
        {{ folder.storageProvider.name }}/{{ folder.relPath }}
        <button mat-raised-button [matMenuTriggerFor]="menuParentTrace" style="width: 100%;" color="primary">Go to</button>
        <mat-menu #menuParentTrace="matMenu">
            <button mat-menu-item *ngFor="let parent of folder.trace" (click)="loadFileObject(parent)">{{parent.name}}</button>
            <button mat-menu-item (click)="loadFileObject(folder)">{{folder.name}}</button>
        </mat-menu>
    </div>
    
    <mat-list>
        <mat-list-item *ngFor="let row of dataSource.data" class="table-row" (click)="loadFileObject(row)" #fileOpMenu (contextmenu)="onContextMenu($event, row)">
            <mat-icon mat-list-icon>{{ getFileIcon(row) }}</mat-icon>
            <div mat-line>{{ row.name }}</div>
            <div mat-line>
                <ng-container *ngIf="isFile(row)">
                    {{ row.size | filesize }}, 
                </ng-container>
                {{ row.lastModified | amTimeAgo }}
            </div>
        </mat-list-item>
    </mat-list>
</div>

<ng-container *ngIf='errorText'>
    <h1>Whoops, there is an error loading this folder.</h1>
    <div style="border: 1px solid white; width: 90%; padding: 10px">
        <h3>{{errorText}}</h3>
    </div>
</ng-container>

<div style="height: 64px"></div>

<div #fileOpMenu
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
        <button mat-menu-item [disabled]="true">{{item.name}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="shareSelectedFile(item)"><mat-icon>share</mat-icon>Share</button>
        <button mat-menu-item (click)="renameSelectedFile(item)"><mat-icon>create</mat-icon>Rename</button>
        <button mat-menu-item (click)="moveSelectedFiles(item)"><mat-icon>airport_shuttle</mat-icon>Move</button>
        <button mat-menu-item (click)="deleteSelectedFiles(item)"><mat-icon style="color: red" >delete_forever</mat-icon>Delete</button>
	</ng-template>
</mat-menu>