<div class="mat-app-background player-background" style="height: 100%; width: 100%;">
    <app-nav-bar [title]="'Media Player'" [searchbox]="false"></app-nav-bar>
    <mat-accordion>
        <mat-expansion-panel #expPanel="matExpansionPanel" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Playlists
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-list>
                <div mat-subheader>Actions</div>
                <button mat-list-item (click)="openNewPlaylistDialog()">
                    <mat-icon>add</mat-icon> Add a new playlist
                </button>
                <mat-divider></mat-divider>
                <div mat-subheader>
                    Playlists
                </div>
                <div mat-subheader>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Search" [(ngModel)]="playlistSearchKeyword"
                            (input)="searchPlaylist()" />
                    </mat-form-field>
                </div>

                <mat-list-item *ngFor="let playlist of playlists"
                    (click)="expPanel.expanded = false; loadPlaylist(playlist)">
                    <mat-icon mat-list-icon>queue_music</mat-icon>
                    <div mat-line>{{playlist.name}}</div>
                    <div mat-line> {{playlist.user}} </div>
                </mat-list-item>

            </mat-action-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-list *ngIf="currPlaylist">
        <div mat-subheader>
            {{currPlaylist.name}}
            <button mat-icon-button matTooltip="Add media" (click)="addMediaToList(currPlaylist)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Edit playlist" (click)="renamePlaylist(currPlaylist)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete playlist" (click)="deletePlaylist(currPlaylist)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div cdkDropList class="media-file-list" (cdkDropListDropped)="reorderMedia(currPlaylist, $event)">
            <mat-list-item *ngFor="let file of currPlaylist.files" class="media-file-item"
                matTooltip="{{file.relative_path}}" cdkDragLockAxis="y" cdkDrag matRipple style="cursor: 100%;">
                <mat-icon mat-list-icon *ngIf="file == currPlayingMedia">play_arrow</mat-icon>
                <mat-icon mat-list-icon *ngIf="file != currPlayingMedia">music_note</mat-icon>
                <div style="width: 100%" (click)="playMedia(file)">
                    <div mat-line>{{file.title}}</div>
                    <div mat-line>{{file.artist}} {{file.album}} </div>
                </div>
                <div style="position: absolute; right: 10px; z-index: 3"><button mat-icon-button (click)="removeMediaFromPlaylist(currPlaylist, media)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </div>
    </mat-list>
    <div class="footer">
        <ng-container *ngIf="currPlayingMedia">
            Now Playing : {{currPlayingMedia.title}}
        </ng-container>
        <audio controls autoplay #audioPlayer style="width: 100%" (ended)="onAudioEnded()">
            <source>
        </audio>
    </div>
</div>