html {
  margin: 0px;
  height: 100%;
}

.logo {
  height: 25px;
}

.top-bar-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  color: #616161;
  padding-left: 10px;
}

.task-item {
    cursor:pointer;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.tasks {
  width: 25%;
  height: 100%;
  padding: 15px;
}

.file-list {
  width: 75%;
  height: 100%;
  padding: 15px;
}

@media only screen and (max-width: 992px)
{
    .file-list {
        width: 100%;
    }
    .content {
      display: inline;
    }
    .tasks {
        width: 100%;
        height: auto;
    }
}

@keyframes fade-in {
  0%   {opacity: 0.0;}
  100% {opacity: 1.0;}
}

.file-table {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

table {
  color: #616161;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 24px !important;
}