<div style="margin: 0px 10px 0px 10px">
    <span style="font-size: large; vertical-align: baseline;">Add Files</span>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider></mat-divider>

<div *ngIf="currFolder" style="max-width: 30vw;">
    <button mat-icon-button (click)="loadParentFolder()">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <span style="word-wrap: break-word; max-width: 300px;">{{currFolder.relPath}}</span>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<ng-container *ngIf="!loading">
    <mat-selection-list *ngIf="!currFolder" [multiple]="false">
        <mat-list-option *ngFor="let sp of storageProviders" (click)="loadFolder(sp.rootFolder)">
            <mat-icon matListItemIcon>storage</mat-icon>{{sp.name}}
        </mat-list-option>
    </mat-selection-list>

    <mat-selection-list *ngIf="currFolder" [multiple]="false">
        <mat-list-option *ngFor="let f of currFolder.children" (click)="addOrLoadFolder(f)">
            <mat-icon matListItemIcon>{{ getFileIcon(f) }}</mat-icon>
            <span style="word-wrap: break-word; max-width: 30vw;">{{ f.name }}</span>
        </mat-list-option>
    </mat-selection-list>
</ng-container>