<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
    <img *ngIf="currentPlaying" [src]="getCurrentPlayingAlbumUrl()" class="album-art">

    <span style="font-size: xx-large; padding-right: 15px">{{ playlist.name }}</span>

    <button mat-icon-button [matMenuTriggerFor]="playlistMenu"><mat-icon>more_horiz</mat-icon></button>
    <mat-menu #playlistMenu="matMenu">
        <button mat-menu-item (click)="addFile()"><mat-icon>add</mat-icon>Add File</button>
        <button mat-menu-item (click)="renamePlaylist()"><mat-icon>edit</mat-icon>Rename</button>
        <button mat-menu-item (click)="deletePlaylist()"><mat-icon style="color: red">delete_forever</mat-icon>Delete</button>
    </mat-menu>

    <mat-divider></mat-divider>

    <div *ngIf="currentPlaying" style="margin-top: 20px;">
        <p>
            <span style="font-size: x-large;">
                <ng-container>
                    {{ currentPlaying.metadata.title ? currentPlaying.metadata.title : currentPlaying.name }}
                </ng-container>
            </span>
            <span *ngIf="currentPlaying.metadata.artist || currentPlaying.metadata.album"> | {{currentPlaying.metadata.artist}} - {{currentPlaying.metadata.album}}</span>
        </p>
        
        <audio controls autoplay *ngIf="currentPlaying.type === 'music'" [src]="getCurrentPlayingUrl()" style="width: 100%" (ended)="playNextFile()" (error)="playNextFile()"></audio>

        <video controls autoplay *ngIf="currentPlaying.type === 'movie'" [src]="getCurrentPlayingUrl()" width="100%" (ended)="playNextFile()" (error)="playNextFile()"></video>
        <mat-divider style="margin-top: 20px"></mat-divider>
    </div>

    <mat-list cdkDropList class="media-file-list" (cdkDropListDropped)="reorderMedia($event)">
        <div mat-subheader>Media ({{ playlist.files.length }} files)</div>
        <mat-list-item *ngFor="let file of playlist.files" cdkDragLockAxis="y" cdkDrag  class="{{ currentPlaying && file.id === currentPlaying.id ? 'selectedFile' : '' }}">
            <button mat-icon-button [matMenuTriggerFor]="plFileMenu" [matMenuTriggerData]="{item: file}">
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-icon mat-list-icon class="drag-button" cdkDragHandle matTooltip="Drag to reorder">
                reorder
            </mat-icon>
            <mat-icon mat-list-icon>
                <ng-container *ngIf="currentPlaying && file.id === currentPlaying.id">
                    play_arrow
                </ng-container>
                <ng-container *ngIf="!currentPlaying || file.id !== currentPlaying.id">
                    {{ file.type === 'music' ? 'music_note' : 'movie' }}
                </ng-container>
            </mat-icon>
            <div mat-line (click)="playFile(file)" style="cursor: pointer;" matTooltip="{{ file.fullPath }}">
                {{ file.metadata.title ? file.metadata.title : file.name }}
            </div>
            <div mat-line *ngIf="file.metadata.artist || file.metadata.album" (click)="playFile(file)" style="cursor: pointer;">
                {{file.metadata.artist}} - {{file.metadata.album}}
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>

<mat-menu #plFileMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="deleteFileFromPlaylist(item)"><mat-icon>delete_forever</mat-icon>Remove from playlist</button>
    </ng-template>
</mat-menu>