.drag-button {
    cursor: move;
}

.cdk-drag-preview {
    background-color: #c2185b;
    padding: 5px;
}
  
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.media-file-item:last-child {
    border: none;
}

.media-file-list.cdk-drop-list-dragging .media-file-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.spacer {
    width: 100%;
}

.selectedFile {
    background-color: gray;
}

.album-art {
    z-index: -2;
    opacity: 0;
    left: 0px;
    width: 100%;

    -webkit-animation: album-art-fade 0.3s ;
    animation: album-art-fade 0.3s ;
    animation-fill-mode: forwards;

    @media(max-width: 600px) {
        top: 52px;
        position: fixed;
    }

    @media(min-width: 600px) {
        top: 60px;
        position: fixed;
    }
}

@-webkit-keyframes album-art-fade {
    from {opacity: 0;}
    to {opacity: 0.07;}
}

@keyframes album-art-fade {
    from {opacity: 0;}
    to {opacity: 0.07;}
}