<h1>Search Result for {{keyword}}</h1>

<div *ngIf="loading" style="width: 100%">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>

<ng-container *ngIf="!loading && !isMobile">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon style="vertical-align: bottom;">{{getFileIcon(row)}}</mat-icon>
                {{ row.name }} 
            </td>
        </ng-container>

        <!-- Path Column -->
        <ng-container matColumnDef="path">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Path </th>
            <td mat-cell *matCellDef="let row"> {{ row.storageProvider.path }}/{{ row.relPath }} </td>
        </ng-container>

        <!-- Last Modified Column -->
        <ng-container matColumnDef="lastModified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
            <td mat-cell *matCellDef="let row" matTooltip="{{row.lastModified | amDateFormat:'DD MMM YYYY hh:mm A'}}"> {{ row.lastModified | amTimeAgo }} </td>
        </ng-container>

        <!-- Size Column -->
        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="isFile(row); then showFileSize else hideFileSize"> </ng-container>
                <ng-template #showFileSize> {{ row.size | filesize }} </ng-template>
                <ng-template #hideFileSize> - </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="loadFileObject(row)"></tr>
    </table>

    <div style="width: 100%; margin-top: 10px; text-align: center;">{{dataSource.data.length}} items</div>
</ng-container>

<ng-container *ngIf="!loading && isMobile">
    <mat-list>
        <mat-list-item *ngFor="let row of dataSource.data" class="table-row" (click)="loadFileObject(row)">
            <mat-icon mat-list-icon>{{ getFileIcon(row) }}</mat-icon>
            <div mat-line> {{ row.name }} </div>
            <div mat-line> {{ row.storageProvider.path }}/{{ row.relPath }} </div>
            <div mat-line> 
                <ng-container *ngIf="isFile(row)">
                    {{ row.size | filesize }}, 
                </ng-container>
                {{ row.lastModified | amTimeAgo }}
            </div>
          </mat-list-item>
    </mat-list>
</ng-container>

<div style="height: 64px"></div>