<div style="height: 50px"></div>
<ng-container *ngIf="loadingLevel > 0; then loadingBlock else setupBlock"></ng-container>
<div style="height: 50px"></div>

<ng-template #loadingBlock>
    <div style="margin: 0px 10% 0px 10%">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p style="width: 100%; text-align: center;">Loading...</p>
    </div>
</ng-template>

<ng-template #setupBlock>
    <div style="width: 80%; margin-left: 10%; padding-bottom: 20px;" class="mat-elevation-z2">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>RPi Drive Setup</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
            <section>
                <h2>Verification</h2>

                <mat-form-field class="full-width">
                    <mat-label>Security Key</mat-label>
                    <input matInput type="password" formControlName="initKey" placeholder="The key to initialize the server. Please get the value from server console log.">
                </mat-form-field>

                <mat-divider></mat-divider>
            </section>

            <section formGroupName="user">
                <h2>Create an admin user</h2>

                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Reenter Password</mat-label>
                    <input matInput type="password" formControlName="passwordVerify" pattern="{{ setupForm.get('user')?.get('password')?.value }}">
                </mat-form-field>

                <mat-divider></mat-divider>
            </section>

            <section formGroupName="storageProvider">
                <h2>Storage Provider</h2>

                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let t of storageProviderTypes" [value]="t.value">{{t.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Path</mat-label>
                    <input matInput type="text" formControlName="path">
                </mat-form-field>

                <mat-divider></mat-divider>
            </section>

            <section>
                <button mat-raised-button color="primary" type="submit" [disabled]="!setupForm.valid || loadingLevel>0">Submit</button>
                <span style="color: red; margin-left: 10px">{{submissionError}}</span>
            </section>
        </form>
    </div>
</ng-template>