{% extends 'drive/base.html' %}

{% block page_title %}{{ drive.name }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="static/global.css" />
    <link type="text/css" rel="stylesheet" href="static/index.css" />
{% endblock %}

{% block content %}
  {% include "drive/top-bar.html" %}

  <div class="content">
      {% include "drive/task-list.html" with view_type="hide-on-large-only show-on-med-and-down" mode="simplified" %}
      {% include "drive/task-list.html" with view_type="hide-on-med-and-down" mode="full" %}
      <div class="file-list">

      </div>
  </div>
    <div id="preview" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id="preview-title">Modal Header</h4>
            <div id="preview-screen"></div>
        </div>
            <div class="modal-footer">
            <a class="modal-close btn waves-effect waves-light red lighten-1" id="btnDownloadFromPreview" download>Download</a>
            <a class="modal-close btn waves-effect waves-light grey" onclick="clearPreview()">Close</a>
        </div>
    </div>

    <div id="file-operation-dialog" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 id="file-operation-title"></h4>
            <div id="file-operation-content"></div>
            <div class="modal-footer">
                <span>
                    <span id="file-operation-info"></span>
                    <a class="red-text" id="file-operation-error"></a>
                </span>
                <a class="btn waves-effect waves-light red lighten-1" id="file-operation-name"></a>
                <a class="modal-close btn waves-effect waves-light grey">Close</a>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">more_horiz</i>
        </a>
        <ul>
            <li>
                <a class="waves-effect waves-light black btn-floating disabled file-actions file-actions-single file-actions-many tooltipped" onclick="openDeleteDialog()" data-tooltip="Delete" data-position="left">
                    <i class="material-icons right">delete_forever</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light red lighten-1 btn-floating disabled file-actions file-actions-single tooltipped" onclick="copyShareLink()" data-tooltip="Share" data-position="left">
                    <i class="material-icons right">share</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light red lighten-1 btn-floating disabled file-actions file-actions-single file-actions-many tooltipped" onclick="openMoveDialog()" data-tooltip="Move" data-position="left">
                    <i class="material-icons right">local_shipping</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light red lighten-1 btn-floating disabled file-actions file-actions-single tooltipped" onclick="openRenameDialog()" data-tooltip="Rename" data-position="left">
                    <i class="material-icons right">dehaze</i>
                </a>
            </li>
        </ul>
    </div>


{% endblock %}

{% block js %}
  <script>
        csrf_token = "{{ csrf_token }}";
        rootDirectory = "{{ curr_folder.id }}";
        currentDirectory = "{{ curr_folder.id }}";
  </script>
  <script src="static/index.js"></script>
  <script src="static/file.js"></script>
  <script src="static/downloader.js"></script>
{% endblock %}