<div class="row">
  <span>
      {% if curr_folder.parent_folder != None %}
        <a class="waves-effect waves-light red-text lighten-1" onclick="loadDirectory('{{curr_folder.parent_folder.id}}')"><i class="material-icons inline-icon">arrow_back</i></a>
      {% endif %}
      <a class="waves-effect waves-light red-text lighten-1" onclick="loadDirectory('{{curr_folder.id}}')"><i class="material-icons inline-icon">cached</i></a>
      &#8205;&#8205;&#8205;&#8205;
      <a href="{% url 'index' %}"><span class="red-text lighten-1" style="font-size: 20px">My Drive</span></a>
      {% if ancestors|length > 0 %}
          <i class="inline-icon material-icons grey-text">navigate_next</i>
          <a class='dropdown-trigger white red-text lighten-1' href='#' data-target='path-dropdown'>...</a>

          <ul id='path-dropdown' class='dropdown-content'>
            {% for ancestor in ancestors %}
                <li><a onclick="loadDirectory('{{ancestor.id}}')">{{ ancestor.name }}</a></li>
            {% endfor %}
          </ul>
      {% endif %}
      {% if curr_folder.parent_folder != None %}
          <i class="inline-icon material-icons grey-text">navigate_next</i>
      {% endif %}
      <span class="red-text lighten-1" style="font-size: 20px">{{curr_folder.name}}</span>
  </span>
</div>

<table class="highlight file-table">
    <tr>
        <th style="width: 24px"><label><input type="checkbox" class="filled-in checkbox-red" id="fileSelectionAll"/><span>&#8205;</span></label></th>
        <th>Name</th>
        <th>Last Modified</th>
        <th>Size</th>
    </tr>
    {% for file in file_objs %}
    <tr style="cursor:pointer;" >
        <td><label><input type="checkbox" class="filled-in fileSelectionSingle checkbox-red" file-id="{{ file.id }}" file-name="{{ file.name }}" file-type="{{ file.class_name }}"/><span>&#8205;</span></label></td>
        {% if file.class_name == "Folder" %}
            <td onclick="loadDirectory('{{file.id}}')"><i class="small material-icons inline-icon">folder</i>  {{ file.name }}</td>
            <td onclick="loadDirectory('{{file.id}}')">{{ file.last_modified_natural }}</td>
            <td onclick="loadDirectory('{{file.id}}')">{{ file.size_natural }}</td>
        {% else %}
            <td onclick="loadFile('{{ file.id }}', '{{ file.name }}', '{{ file.preview_type }}')">
                <i class="small material-icons inline-icon">
                    {% if file.is_picture %}
                        photo
                    {% elif file.is_music %}
                        music_note
                    {% elif file.is_movie %}
                        movie
                    {% elif file.is_code %}
                        code
                    {% elif file.is_compressed %}
                        archive
                    {% elif file.is_executable %}
                        apps
                    {% elif file.is_library %}
                        library_books
                    {% elif file.is_book %}
                        book
                    {% else %}
                        insert_drive_file
                    {% endif %}
                </i>
                {% if file.download and not file.download.operation_done  %}
                    <i class="small material-icons inline-icon">cloud_download</i>
                {% endif %}
                {{ file.name }}
            </td>
            <td onclick="loadFile('{{ file.id }}', '{{ file.name }}', '{{ file.preview_type }}')">{{ file.last_modified_natural }}</td>
            <td onclick="loadFile('{{ file.id }}', '{{ file.name }}', '{{ file.preview_type }}')">{{ file.size_natural }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<script>
    M.AutoInit();
    setupFileSelection();
</script>