{% extends 'drive/base.html' %}

{% block page_title %}
    System Status
{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="static/global.css" />
    <link type="text/css" rel="stylesheet" href="static/index.css" />
{% endblock %}

{% block content %}
    {% include "drive/top-bar.html" %}
    <div style="padding-left: 20px; padding-right: 20px;">
        <h4 class="red-text lighten-1">Network</h4>
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px; width: 100%">
            <div id="network-usage-chart" style="height: 300px;">
                <div class="progress" style="background-color: red">
                    <div class="indeterminate" style="background-color: grey"></div>
                </div>
            </div>
            <div id="network-speed-chart" style="height: 300px;">
                <div class="progress" style="background-color: red">
                    <div class="indeterminate" style="background-color: grey"></div>
                </div>
            </div>
            <table style="width: 100%">
                <tr>
                    <td><div id="network-usage-download-value-display" class="blue white-text card" style="font-weight: bold; padding: 10px"></div></td>
                    <td><div id="network-usage-upload-value-display" class="red white-text card" style="font-weight: bold; padding: 10px"></div></td>
                </tr>
            </table>
        </div>
        {% for name, value in data.items %}
            {% if value|length > 0 %}
            <h4 class="red-text lighten-1">{{name}}</h4>
            <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 40px">
                <table class="striped responsive-table">
                    {% for data in value %}
                    <tr>
                        <td style="width: 30%"><b>{{ data.0 }}</b></td>
                        <td>{{ data.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="static/system-status.js"></script>
    <script>
        M.AutoInit();
    </script>
{% endblock %}