<nav class="white">
    <div class="nav-wrapper">
        <a class="dropdown-trigger btn-light hide-on-large-only show-on-med-and-down red-text" data-target="dropdown-topbar">
            <i class="material-icons inline-icon" style="display: unset; padding-left: 10px">dehaze</i>
        </a>
        <ul id="dropdown-topbar" class="dropdown-content">
            <li><a href="https://github.com/kingkingyyk/RPiDrive" target="_blank" class="red-text">GitHub</a></li>
            <li><a href="{% url 'system_status' %}" class="red-text">Status</a></li>
            <li><a href="{% url 'logout' %}" class="red-text">Logout</a></li>
        </ul>
        <span class="brand-logo" style="padding-left: 20px">
            <img class="logo" src="static/images/logo.png"/>
            <a href="/drive" class="top-bar-title" style="color: #616161">{{ drive.name }}</a>
        </span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <div class="row">
                    <div class="input-field col s6 s12 red-text">
                        <i class="red-text material-icons prefix">search</i>
                        <input type="text" placeholder="Search file/folder" id="search-text-input" class="autocomplete" >
                    </div>
                </div>
            </li>
            <li><a href="https://github.com/kingkingyyk/RPiDrive" target="_blank" class="btn-flat red-text">GitHub</a></li>
            <li><a href="{% url 'system_status' %}" class="btn-flat red-text">Status</a></li>
            <li><a href="{% url 'logout' %}" class="btn-flat red-text">Logout</a></li>
        </ul>
    </div>
</nav>
